<div class="span7">
  <h2>
    <% if current_user.super_admin? %>
      <%= link_to 'Slider Photos', admin_slider_photos_path %>
    <% else %>
      Slider Photos
    <% end %>
  </h2>
  <ul class="media-grid">
    <% @slider_photos.each do |slider_photo| %>
      <li>
        <%= link_to image_tag(slider_photo.image.url(:thumb)), '#', :rel => 'slider-photo' %>
      </li>
    <% end %>
  </ul>
</div>
