<div class="span7">
  <h2><%= link_to 'Videos', admin_videos_path %></h2>
  <ul class="media-grid">
    <% @videos.each do |video| %>
      <li>
        <%= youtube_thumbnail video %>
      </li>
    <% end %>
  </ul>
</div>
