<ul>
  <li><%= link_to 'Manage events', admin_events_path %></li>
  <li><%= link_to 'Manage photos', admin_photos_path %></li>
  <li><%= link_to 'Manage videos', admin_videos_path %></li>
  <li><%= link_to 'Manage slider photos', admin_slider_photos_path %></li>
</ul>
