<h2>Events</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td>
          <%= link_to event.name, [:admin, event] %>
        </td>
        <td>
          <%= link_to 'Edit', edit_admin_event_path(event), :class => 'btn' %>
          <%= link_to 'Destroy', admin_event_path(event), :class => 'btn', :method => :delete, :confirm => 'Are you sure?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add event', new_admin_event_path, :class => 'btn' %>
