<tr>
  <td>
    <%= image_tag photo.image.url(:thumb) %>
  </td>
  <td>
    <%= photo.description %>
  </td>
  <td>
    <%= link_to 'Edit', edit_admin_photo_path(photo), :class => 'btn' %>
    <%= link_to 'Remove', admin_photo_path(photo), :class => 'btn danger', :method => :delete, :confirm => 'Are you sure?' %>
  </td>
</tr>
