<% @blog_posts.each do |blog_post| %>
  <h2>
    <%= link_to blog_post.title, blog_post %>
    <small>by <%= blog_post.user.name %></small>
  </h2>
  <%= markdown truncate(blog_post.description, :length => 500) %>
<% end %>
