<% sidebar do %>
  <h2>Index</h2>
  <ul>
    <% @blog_posts.each do |blog_post| %>
      <li><%= link_to blog_post.title, blog_post %></li>
    <% end %>
  </ul>
<% end %>

<% @blog_posts.each do |blog_post| %>
  <h2><%= link_to blog_post.title, blog_post %></h2>
  <%= markdown blog_post.description %>
<% end %>
