// Place all the styles related to the Admin::BlogPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.blog-posts {
  td:nth-child(1) {
    width: 220px;
  }
  td:nth-child(2) {
    width: 340px;
  }
}