<% sidebar do %>
  <h2>Events</h2>
  <ul>
    <%= render @events %>
  </ul>
<% end %>

<% @events.each do |event| %>
  <h3><%= event.name %></h3>
  <ul class="media-grid">
    <% event.photos.each do |photo| %>
      <li>
        <%= link_to image_tag(photo.image.url(:thumb)), photo.image.url, :rel => event.id %>
      </li>
    <% end %>
  </ul>
<% end %>
