// Place all the styles related to the Startpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#slider {
  margin-top: 50px;
  margin-bottom: 50px;
  -moz-box-shadow: 0 0 1px 1px #888;
  -webkit-box-shadow: 0 0 1px 1px#888;
  box-shadow: 0 0 1px 1px #888;
}