<h2>Blog Posts</h2>

<table class="blog-posts">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <%= render @blog_posts %>
  </tbody>
</table>

<%= link_to 'Add blog post', new_admin_blog_post_path, :class => 'btn' %>
