<h2><%= @blog_post.title %></h2>
<%= markdown @blog_post.description %>

<%= link_to 'Edit', edit_admin_blog_post_path(@blog_post), :class => 'btn' %>
<%= link_to 'Show all blog posts', admin_blog_posts_path, :class => 'btn' %>
